---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "socicon";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');

// Our variables
$base-font-family: "Montserrat", Helvetica, Arial, sans-serif;
$base-font-size:   21px/1;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.7;

$spacing-unit:     30px;

$text-color:       #000;
$background-color: #fff;
$brand-color:      #FBB813;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    700px;

$on-palm:          600px;
$on-laptop:        700px;

// Gradient colours
// $from:  #AD76F2;
// $to:    #FD3F4F;

// 3BD8D5
// FD3F4F

// $from:  #ff2299;
// $to:    #3366ff;

$from:  #FBB813;
$to:    #FBB813;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
