/*Plyr override styles*/
.plyr {
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
  margin: 20px auto;
  color: yellow;
}
.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true]{
  background: #FBB813;
  color: white;
}
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background: #FBB813;
}
.plyr--full-ui input[type=range] {
  color: #FBB813;
}
#player {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/*Pagination override styles*/
.pagination-link {
  box-shadow: 0 0 0 1px #FBB813;
}
.pagination-link:hover {
  color: white;
  background-color: #FBB813;
  text-decoration: none;
}
/*Other styles*/
.search { 
  border: 1px solid #848484; 
  -webkit-border-radius: 30px; 
  -moz-border-radius: 30px; 
  border-radius: 30px; 
  outline:0; 
  width: 300px;
  height:30px; 
  padding-left:10px; 
  padding-right:10px; 
}
.center {
  width: 320px;
  margin: auto; 
}

/*jQuery Confirm override styles*/
.jconfirm-box {
  width: 25%;
}