---
layout: default
---

<!-- Brief intro -->
<div class="header-intro">
  <h2><a href="#"><img src="assets/images/logo-full.png" alt="BanglaAudiobook.in" width="350px"></a></h2>
  <p>Enough of ইংরাজি books.
  <br><i class="fa fa-book" aria-hidden="true"></i><a href="/about"> Lets listen to বাংলা অডিওবুক. &rarr;</a>
  <br><i class="fa fa-headphones" aria-hidden="true"></i> Plug on your headphones for optimum sound quality.</p>
</div>
<hr />
<!-- End intro -->

<style> 
.search { 
    border: 1px solid #848484; 
    -webkit-border-radius: 30px; 
    -moz-border-radius: 30px; 
    border-radius: 30px; 
    outline:0; 
    width: 300px;
    height:30px; 
    padding-left:10px; 
    padding-right:10px; 
  } 

  .center {
    width: 320px;
    margin: auto; 
  }
</style> 


<div class="center">
  <form action="get" id="site_search">
    <input class="search" type="search" id="search_box" placeholder="Title / Authors / Genre / Narrator">
  </form>
</div>

<!-- for the search option -->
<script src="{{ "/assets/js/lunr.min.js" | prepend: site.baseurl }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ "/assets/js/search.js" | prepend: site.baseurl }}"></script>

<div class="home">

  <ul class="search_results" id="post-list"></ul>

</div>

<hr />

<div class="home">

<h1>Latest Posts</h1>
  <ul id="post-list">
    {% for post in paginator.posts %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}">
        <aside class="dates">{{ post.date | date: "%b %-d" }}</aside>
        </a>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} <h2>{{ post.description }}</h2></a>
      </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if paginator.previous_page %}
      <a class="pagination-link" href="{{ paginator.previous_page_path }}" class="previous"><span class="arrow">&larr;</span> Previous</a>
    {% endif %}
    {% if paginator.next_page %}
      <a class="pagination-link" href="{{ paginator.next_page_path }}" class="next">Next <span class="arrow">&rarr;</span></a>
    {% endif %}
  </div>

</div>
