{% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/">
{% endif %}

<!-- Meta -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
{% if page.description %}
  <meta name="description" content="{{ page.description }}">
{% elsif page.type contains "audiobook" %}
  <meta name="description" content="{{ page.content | strip_html }}">
{% else %}
  <meta name="description" content="{{ site.description }}">
{% endif %}


<!--  Essential META Tags -->
{% if page.title %}
  <meta property="og:title" content="{{ page.title }} - {{ page.author }} | BanglaAudiobook.in">
{% else %}
  <meta property="og:title" content="{{ site.title }} | BanglaAudiobook.in">
{% endif %}

{% if page.description %}
  <meta property="og:description" content="{{ page.description }}">
{% elsif page.type contains "audiobook" %}
  <meta property="og:description" content="{{ page.content | strip_html }}">
{% else %}
  <meta property="og:description" content="{{ site.description }}">
{% endif %}

{% if page.filename and page.type contains "audiobook" %}
  <meta property="og:image" content="{{ site.url }}assets/images/audiobook_covers/{{ page.filename }}.jpg">
{% elsif page.filename %}
  <meta property="og:image" content="{{ site.url }}assets/images/{{ page.filename }}.jpg">
{% else %}
  <meta property="og:image" content="../assets/images/logo-icon.jpg">
{% endif %}

{% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
{% endif %}

{% if page.filename and page.type contains "audiobook" %}
  <meta name="twitter:image" content="{{ site.url }}assets/images/audiobook_covers/{{ page.filename }}.jpg">
{% elsif page.filename %}
  <meta name="twitter:image" content="{{ site.url }}assets/images/{{ page.filename }}.jpg">
{% else %}
  <meta name="twitter:image" content="{{ site.url }}images/logo-icon.png">
{% endif %}

<!--  Non-Essential, But Recommended -->
<meta property="og:site_name" content="{{ page.title }} | BanglaAudiobook.in">
<meta name="twitter:image:alt" content="BanglaAudiobook">
