<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
      <div class="wrapper">
        <div class="page-content">
          {{ content }}
        </div>
        {% include footer.html %}
    </div>

    <!-- Headroom.js - Hide your header until you need it -->
    <script src="//cdn.jsdelivr.net/headroomjs/0.5.0/headroom.min.js"></script>
    <script type="text/javascript">
      var el = document.querySelector(".header-container");
      var headroom  = new Headroom(el, {
        "offset": 205,
        "tolerance": 5
      });
      headroom.init();
    </script>

    <!-- Plyr Audio Player -->
    <script src="https://cdn.plyr.io/3.5.2/plyr.polyfilled.js"></script>
    <script>
      const player = new Plyr('#player', {
        title: '{{ page.title }}',
        poster: '/assets/images/audiobook_covers/{{ page.filename }}.jpg',
      });
    </script>

    <!-- FuckAdBlock - Detects ad blockers -->
    <script>
      // Function called if AdBlock is not detected
      function adBlockNotDetected() {
        alert('AdBlock is not enabled');
      }
      // Function called if AdBlock is detected
      function adBlockDetected() {
        alert('AdBlock is enabled');
      }

      // We look at whether FuckAdBlock already exists.
      if(typeof fuckAdBlock !== 'undefined' || typeof FuckAdBlock !== 'undefined') {
        // If this is the case, it means that something tries to usurp are identity
        // So, considering that it is a detection
        adBlockDetected();
      } else {
        // Otherwise, you import the script FuckAdBlock
        var importFAB = document.createElement('script');
        importFAB.onload = function() {
          // If all goes well, we configure FuckAdBlock
          fuckAdBlock.onDetected(adBlockDetected)
          fuckAdBlock.onNotDetected(adBlockNotDetected);
        };
        importFAB.onerror = function() {
          // If the script does not load (blocked, integrity error, ...)
          // Then a detection is triggered
          adBlockDetected(); 
        };
        importFAB.integrity = 'sha256-xjwKUY/NgkPjZZBOtOxRYtK20GaqTwUCf7WYCJ1z69w=';
        importFAB.crossOrigin = 'anonymous';
        importFAB.src = 'https://cdnjs.cloudflare.com/ajax/libs/fuckadblock/3.2.1/fuckadblock.min.js';
        document.head.appendChild(importFAB);
      }
    </script>

  </body>
</html>
