<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
      <div class="wrapper">
        <div class="page-content">
          {{ content }}
        </div>
        {% include footer.html %}
    </div>

    <!-- Headroom.js - Hide your header until you need it -->
    <script src="//cdn.jsdelivr.net/headroomjs/0.5.0/headroom.min.js"></script>
    <script type="text/javascript">
      var el = document.querySelector(".header-container");
      var headroom  = new Headroom(el, {
        "offset": 205,
        "tolerance": 5
      });
      headroom.init();
    </script>

    <!-- Plyr Audio Player -->
    <script src="https://cdn.plyr.io/3.5.2/plyr.polyfilled.js"></script>
    <script>
      const player = new Plyr('#player', {
        title: '{{ page.title }}',
        poster: '/assets/images/audiobook_covers/{{ page.filename }}.jpg',
        tooltips: { controls: true, seek: true },
      });
    </script>

    <!-- jQuery Confirm v3 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <script src="{{ "/assets/js/cookies.js" | prepend: site.baseurl }}"></script>

    <!-- Detects ad blockers -->
    <script type="text/javascript">
      function adBlockNotDetected() {
        if (!getCookie('askDonation')) {
          $.alert({
            title: 'Consider Supporting Us',
              theme: 'modern',
              content: "I'm a small scale creator running mostly out of a small budget. Please consider supporting this project. Even the tiniest donation would make a big difference. Thank you!",
              closeIcon: false,
              buttons: {
                  donate: {
                      text: 'Donate',
                      btnClass: 'btn-blue',
                      action: function () {
                          window.open('https://flattr.com/domain/banglaaudiobook.in', '_blank');
                          setCookie('askDonation', 1, 2000);
                      }
                  },
                  close: {
                      text: 'Don\'t ask me again',
                      btnClass: 'btn-red',
                      action: function () {
                        setCookie('askDonation', 1, 2000);
                      }
                  },
              }
          });
        }
      }
      // Function called if AdBlock is detected
      function adBlockDetected() {
        if (!getCookie('adsOk')) {
          $.confirm({
              title: 'AdBlocker Detected',
              theme: 'modern',
              content: "Ads aren't what you're here for. But ads help us support our work. So, please consider to add this domain to your blocker's whitelist.",
              closeIcon: false,
              buttons: {
                  donate: {
                      text: 'Donate',
                      btnClass: 'btn-blue',
                      action: function () {
                          window.open('https://flattr.com/domain/banglaaudiobook.in', '_blank');
                          setCookie('adsOkDonate', 1, 2000);
                      }
                  },
                  done: {
                      text: 'Done',
                      btnClass: 'btn-green',
                      action: function () {
                        location.reload();  
                      }
                  }
              }
          });
        }
      }

      // We look at whether FuckAdBlock already exists.
      if(typeof fuckAdBlock !== 'undefined' || typeof FuckAdBlock !== 'undefined') {
        // If this is the case, it means that something tries to usurp are identity
        // So, considering that it is a detection
        adBlockDetected();
      } else {
        // Otherwise, you import the script FuckAdBlock
        var importFAB = document.createElement('script');
        importFAB.onload = function() {
          // If all goes well, we configure FuckAdBlock
          fuckAdBlock.onDetected(adBlockDetected)
          fuckAdBlock.onNotDetected(adBlockNotDetected);
        };
        importFAB.onerror = function() {
          // If the script does not load (blocked, integrity error, ...)
          // Then a detection is triggered
          adBlockDetected(); 
        };
        importFAB.integrity = 'sha256-xjwKUY/NgkPjZZBOtOxRYtK20GaqTwUCf7WYCJ1z69w=';
        importFAB.crossOrigin = 'anonymous';
        importFAB.src = 'https://cdnjs.cloudflare.com/ajax/libs/fuckadblock/3.2.1/fuckadblock.min.js';
        document.head.appendChild(importFAB);
      }
    </script>
    <!-- end Detects ad blockers -->

    <!-- Warn visitors about cookie usage -->
    <script type="text/javascript" id="cookieinfo"
      src="//cookieinfoscript.com/js/cookieinfo.min.js"
      data-bg="#3a3339"
      data-fg="#FFFFFF"
      data-link="#FBB813"
      data-divlinkbg="#FBB813"
      data-cookie="CookieInfoScript"
      data-position="top"
      data-text-align="left"
    >
    </script>

    <!-- Twitter follow button -->
    <script type="text/javascript">
      window.twttr = (function (d, s, id) {
        var t, js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src= "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
      }(document, "script", "twitter-wjs"));
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5e169a467e39ea1242a3b928/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    </script>
  <!--End of Tawk.to Script-->
    

  </body>
</html>
