<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}
      <div class="wrapper">
        <div class="page-content">
          {{ content }}
        </div>
        {% include footer.html %}
    </div>

    <!-- Headroom.js - Hide your header until you need it -->
    <script src="//cdn.jsdelivr.net/headroomjs/0.5.0/headroom.min.js"></script>
    <script type="text/javascript">
      var el = document.querySelector(".header-container");
      var headroom  = new Headroom(el, {
        "offset": 205,
        "tolerance": 5
      });
      headroom.init();
    </script>

    <!-- Plyr Audio Player -->
    <script src="https://cdn.plyr.io/3.5.2/plyr.polyfilled.js"></script>
    <script>
      const player = new Plyr('#player', {
        title: '{{ page.title }}',
        poster: '/assets/images/audiobook_covers/{{ page.filename }}.jpg',
        tooltips: { controls: true, seek: true },
      });
    </script>

    <!-- jQuery Confirm v3 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <!-- Detects ad blockers -->
    <script src="/ads.js" type="text/javascript"></script>
    <script type="text/javascript">
      if(document.getElementById('dLOHSmjrqGXD')){
      } else {
        $.confirm({
            title: 'AdBlocker detected',
            theme: 'modern',
            content: "Ads aren't what you're here for. But ads help us support our work. So, please consider to add this domain to your blocker's whitelist.",
            closeIcon: false,
            buttons: {
                done: {
                    text: 'Done',
                    btnClass: 'btn-green',
                    action: function () {
                      location.reload();  
                    }
                },
                donate: {
                    text: 'Donate',
                    btnClass: 'btn-default',
                    action: function () {
                        window.open('https://flattr.com/domain/banglaaudiobook.in', '_blank');
                    }
                }
            }
        });
      }
    </script>

  </body>
</html>
