---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}{% if page.narrator %} • Narrated by: {{ page.narrator }}{% endif %}</p>
  </header>

  <!-- Beginning Twitter sharing Large button -->
  <a class="twitter-share-button" href="https://twitter.com/share"
  data-related="twitterdev"
  data-size="large"
  data-count="horizontal">
  Tweet
  </a>
  <!-- End of Twitter sharing button -->

  {% include sharing.html %}

  <article class="post-content">
    <br>
    {{ page.introduction }}
    <br><br> 
    <strong>First published</strong>: {{ page.firstpublished }}
    <br><br>
    <audio id="player" controls><source src="http://audiobookfiles.upamanyu.in/{{ page.filename }}" type="audio/mp3" /></audio>
    <br>
    <p><img src="/assets/images/audiobook_covers/{{ page.filename }}.jpg" alt="{{ page.title }}" /></p>
    <br>
    {{ page.content }}
    {% include advertisements.html %}
  </article>

  <hr>

  <div class="question">
    <h2>Questions?</h2>
    <p>Want to have your book/story read? <br />Mail us at <a href="mailto:info@banglaaudiobook.in">info@banglaaudiobook.in</a></p>
    <a class="twitter-follow-button"
    href="https://twitter.com/audiobookbangla"
    data-show-count="true"
    data-size="large">
    Follow @fffabs
    </a>
    <script type="text/javascript">
      window.twttr = (function (d, s, id) {
        var t, js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src= "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
        return window.twttr || (t = { _e: [], ready: function (f) { t._e.push(f) } });
      }(document, "script", "twitter-wjs"));
    </script>
  </div>

  <div class="related">
    <h2>Related</h2>
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}
       &nbsp; <span class="post-meta">{{ post.date | date: "%B %d, %Y" }}</span></a>
    {% endfor %}
  </div>

</div>
